:root {
  --color-primary: #008080; /* Teal */
  --color-secondary: #40e0d0; /* Turquoise */
  --color-accent: #20b2aa; /* Light Teal */
  --color-bg: #cfffe5; /* Seafoam */
  --color-text: #023047; /* Navy Blue */
}

body {
  background-color: var(--color-text) !important;
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
  background: linear-gradient(135deg, #023047, #035a7d);
}

.login-form {
  color: var(--color-accent);
  width: 100vw !important;
}

.login-form p {
  font-size: 80%;
}

.login-form input {
  padding: 6px;
  padding-left: 10px;
  border: none;
  width: 70% !important;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  background-color: var(--color-secondary);
  border: none;
  padding: 6px;
  font-weight: bold;
  color: var(--color-text);
  width: 70% !important;
}

.login-form img {
  max-width: 40vw;
}

.login-container {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.3);  */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  height: 80% !important;
  display: flex;
  align-items: center !important;
  max-width: 100% !important;
}

.header {
  background-color: var(--color-text);
}

.header input {
  border: none;
  background-color: rgb(71, 71, 71);
  padding: 4px 10px !important;
  color: white;
}

.header input:focus {
  outline: none;
}

.header img {
  width: 2.5rem;
}

.tabstrips {
  white-space: nowrap;
}

.tabstrips button {
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.459);
  cursor: pointer;
  transition: all 0.2s ease;
  overflow: hidden;
  font-size: 80%;
}

.active-tab {
  scale: 1.02;
}

.line {
  height: 2px;
}
